<div class='comagic-c-messages-log__message-box comagic-c-messages-log__message-box--left comagic-js-last-message comagic-js-consultant-message--hidden'>
    <div class='comagic-c-messages-log__message-box-row'>
        <div class='comagic-c-messages-log__message-box-item'>
            <i class='comagic-c-messages-log__avatar comagic-c-messages-log__avatar--bot'></i>
        </div>
        <div class='comagic-c-messages-log__message-box-item comagic-c-messages-log__message-box-item--bot' c-ref='content'>
            <div class='comagic-c-messages-log__message-bubble comagic-c-messages-log__message-bubble--bot comagic-c-messages-log__message-bubble--collection-data'>
                <div class='comagic-c-messages-log__message-bubble-content'>
                    <%=Comagic.UI.C.VCARD_TEXT%>
                    <% chat.fields.forEach(function(field) { %>
                        <div class='comagic-h-consultant-relative comagic-h-consultant-field-fix'>
                            <% if (field.name === 'name' && !Comagic.visitorCard.getItem('name')) { %>
                            <div class='comagic-h-consultant-relative comagic-h-consultant-field-fix comagic-h-consultant-margin-top'>
                                <input class='comagic-c-consultant-field comagic-h-consultant-margin-top'
                                     placeholder='<%=Comagic.UI.C.PLACEHOLDERS["name"]%> <%=(field.is_required ? "*" : "")%>'
                                     c-name='name' c-type='field' c-validator='<%=(field.is_required ? "required" : "")%>'>
                            </div>
                            <%}
                            if (field.name === 'email' && !Comagic.visitorCard.getItem('emails').length) {%>
                            <div class='comagic-h-consultant-relative comagic-h-consultant-field-fix comagic-h-consultant-margin-top'>
                                <input class='comagic-c-consultant-field comagic-h-consultant-margin-top'
                                     placeholder='<%=Comagic.UI.C.PLACEHOLDERS["email"]%> <%=(field.is_required ? "*" : "")%>'
                                     c-name='email' c-type='field'
                                     c-validator='<%=(field.is_required ? "required" : "")%> email'>
                            </div>
                            <%}
                            if (field.name === 'phone' && !Comagic.visitorCard.getItem('phones').length) { %>
                                <div class='comagic-h-consultant-relative comagic-h-consultant-field-fix comagic-h-consultant-margin-top'>
                                    <input type='tel' class='comagic-c-consultant-field comagic-h-consultant-margin-top'
                                     placeholder='<%=Comagic.UI.C.PLACEHOLDERS["phone"]%> <%=(field.is_required ? "*" : "")%>'
                                     c-name='phone' c-type='numberfield'
                                     c-validator='<%=(field.is_required ? "required" : "")%> phone' c-mask='<%=Comagic.UI.C.PHONE_MASK_FORMAT%>'>
                                </div>
                            <%} %>
                        </div>
                    <% })%>
                    <div class='comagic-c-consultant-button comagic-c-consultant-button--widget-color comagic-h-consultant-margin-top comagic-c-consultant-button--default'
                         c-type='submitbutton'
                         c-ref='submitBtn'><%=Comagic.UI.C.START_CHAT_TEXT%></div>
                    <% if (chat.widget_link_text) { %>
                    <div class='comagic-c-consultant-container__widget-link comagic-c-consultant-container__widget-link--chat'>
                        <a href='<%= chat.widget_link_url %>' target='_blank' class='comagic-c-consultant-container__widget-link-text'><%=
                            chat.widget_link_text %></a>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class='comagic-c-messages-log__message-bubble comagic-c-messages-log__message-bubble--bot comagic-c-messages-log__message-bubble--feedback'>
                <%=Comagic.UI.C.WELCOME_CHAT_TEXT%>
            </div>
            <div class='comagic-c-messages-log__message-info comagic-h-consultant-flex-end'>
                <div class='comagic-c-messages-log__message-info-item comagic-c-messages-log__message-info-item--time'>
                    <%=Comagic.UI.toTimeString(new Date())%>
                </div>
            </div>
        </div>
    </div>
</div>